body {
  border-radius: 10px;
  background: #ff4b6e;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.title {
  text-align: center;
  padding-top: 20px;
  color: white;
}

#puzzle-container {
  width: 300px;
  height: 300px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}

.piece {
  width: 100px;
  height: 100px;
  background-image: url('yourphoto.jpg');
  background-size: 300px 300px;
  border: 1px solid white;
  cursor: grab;
}

.final-image {
  width: 220px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.final-card {
  position: relative;
  z-index: 2;
}

#confetti {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
